
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;


}
/* ---------- nav-bar -----------*/
.nav-bar_header {
  background-color: #cbcbcb;

  
}
ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
  margin-right: 250px;
  
}
li {
  display: inline;
  margin-left:  30px;
 
}
h1 {
  text-align: center;
  grid-area: 2/1/3/7;
  margin: 25px 0 0  0;
  padding: 0;
}
.logo {
  text-align: left;
}
/*----------------- first container ------------------*/
#container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 4em;
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 0;
}
/* ------------------- Event listeners -------------------*/
/* h3 event listener title */
#h3-PEL  {   
  grid-area: 1/2/2/3;
  margin: 0;
}
.hide1 {
  background-color: purple;
  width: 75px;
  height: 75px;
  border: 2px black solid;
  border-radius: 50%;
  color: white;
  font-size: .8em;
  text-align: center; 
  line-height: 75px;
  justify-self: center;
  grid-area: 1/3/2/4;
} 
.hide2 {
  background-color: rgb(66, 148, 110);
  width: 75px;
  height: 75px;
  border: 2px black solid;
  border-radius: 50%;
  color: black;
  font-size: .8em;
  text-align: center;
  vertical-align: middle; 
  line-height: 75px;
  justify-self: center;
  grid-area: 1/4/2/5;
}
.hide3 {
    background-color: rgb(226, 151, 52);
    width: 75px;
    height: 75px;
    border: 2px black solid;
    border-radius: 50%;
    color: black;
    font-size: .8em;
    text-align: center;
    vertical-align: middle; 
    line-height: 75px; 
    justify-self: center;
    grid-area: 1/5/2/6;
}
#cm1 {
  color: purple;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  grid-area: 2/3/3/4;
}
#cm2 {
  color: rgb(66, 148, 110);
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  grid-area: 2/4/3/5;
}
#cm3 {
  color: rgb(226, 151, 52);
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  grid-area:2/5/3/6;
}
.divider-1 {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: 3/2/4/6;
}

 /* --------------- second container  ------------------- */
#container2 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 4em;
    margin-top: 30px;
    padding: 0;
    margin-bottom: 100px;
}
/*  ---------------random color selector ---------------- */
/* h3 = title for random color selector */
#h3-RCS {
  grid-area: 1/2/2/3;
  margin: 0;
}
#mousePad {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  grid-area: 1/3/2/4;
  color: black;
}
#chip4 {
  width: 150px;
  height: 150px;
  background-color: blue;
  border: 2px black solid;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  grid-area: 1/4/2/5;
}
.divider-2 {
  width: 100%;
  height: 2px;
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: 5/2/6/6;
}
 /* --------------- third container  ------------------- */
 #container3 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 4em;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0;
}

#h3-CP_RGB {
  font-size: 1.2em;
  margin-top: 30;
  grid-area:  1/2/2/3;
}

#p1 {
  font-size: 1.0em;
  margin-top: 22px;
  font-family: inherit;
  grid-area: 1/3/2/6;
}
#p2 {
  font-size: 1em;
  margin-top:  20px;
  font-family: inherit;
  grid-area: 2/3/3/6;
} 
#chip1 {
  width: 150px;
  height: 150px;
  background-color: red;
  border: 2px solid black;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  grid-area: 3/3/4/4;
}
#chip2 {
  width: 150px;
  height: 150px;
  background-color:#00ff00;
  border: 2px black solid;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  grid-area:  3/4/4/5;  
}
#chip3 {
  width: 150px;
  height: 150px;
  background-color: blue;
  border: 2px black solid;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  grid-area: 3/5/4/6;
}
.divider-3 {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: 4/2/5/6;
}

#container4 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 4em;
  margin-top: 325px;
  margin-bottom: 50px;
  padding: 0;
}
#container4 {
  border-bottom: 1px black wo
}
#h3-HSB {
  font-size: 1.2em;
  grid-area:  1/2/2/3;
}
/* 
img {
    width: 12%;
    float: left;

} */