#cont1 {
  display: flex;
  
}
@keyframes fadein {
  from {
    opacity: 0;; 
  }

  to {
    opacity: 100;

  }
}
#cont1 {
  margin: 0;
  padding: 0;
}
.dots-all {
  min-width: 60px;
  height: 20px;
  border: 1px solid #373737;

}
/* #c1,#c2,#c3,#c4,#c5,#c6,#c7,#c8,#c9,#c10,#c11,#c12  {
} */
#c1 {  
  background: #f3eb00;
  animation-name: fadein;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  
  /* animation-delay: 0s; */
}
#c2 {
  background: #9fd800;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: .5s; */
}
#c3 {
  background: #00cc00;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 1s; */
  
}
#c4 {
  background: #00aa75;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 2.5s; */

}
#c5 {
  background: #00ff00;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 3s; */
}
#c6 {
  background: #00ff7f;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 3.5s; */
}
#c7 {
  background: #00a89d;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 4s;*/
} 
#c8 {
  background: #0094b2;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 4.5s; */
}
#c9 {
  background: #0083b6;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 5s; */
}
#c10 {
  background: #006ec3;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 5.5s; */
}
#c11 {
  background: #9300fa;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 6s; */
}
#c12 {
  background: #b800cd;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 6.5s; */
}
#c13 {
  background: #da00ac;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 0s; */
}
#c14 {
  background: #ff0490;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 1.5s; */
}
#c15 {
  background: #ff0066;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 2s; */
  
}
#c16 {
  background: #ff003b;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 2s; */
  
}
#c17 {
  background: #ff5700;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 2.5s; */
 
}
#c18 {
  background: #ff8900;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 3s; */
}
#c19 {
  background: #ffad00;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 3.5s; */
}
#c20 {
  background: #fdcb00;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 4s; */
}
#c21 {  
  background: #f3eb00;
  animation-name: fadein;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  /* animation-delay: 0s; */
}
#c22 {
  background: #9fd800;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: .5s; */
}
#c23 {
  background: #00cc00;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 1s; */
  
}
#c24 {
  background: #00aa75;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 2.5s; */

}
#c25 {
  background: #00ff00;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 3s; */
}
#c26 {
  background: #00ff7f;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 3.5s; */
}
#c27 {
  background: #00a89d;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 4s;*/
} 
#c28 {
  background: #0094b2;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 4.5s; */
}
#c29 {
  background: #0083b6;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 5s; */
}
#c30 {
  background: #006ec3;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 5.5s; */
}
#c31 {
  background: #9300fa;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 6s; */
}
#c32 {
  background: #b800cd;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 6.5s; */
}
#c33 {
  background: #da00ac;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 0s; */
}
#c34 {
  background: #ff0490;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 1.5s; */
}
#c35 {
  background: #ff0066;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 2s; */
  
}
#c36 {
  background: #ff003b;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 2s; */
  
}
#c37 {
  background: #ff5700;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 2.5s; */
 
}
#c38 {
  background: #ff8900;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 3s; */
}
#c39 {
  background: #ffad00;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 3.5s; */
}
#c40 {
  background: #fdcb00;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* animation-delay: 4s; */
}