  html, body {
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  /* nav bar */
  .flex-container {
    display: inline-flex;
    position: fixed;
    background-color: #0202ce;
    width: 100%;
    height: 58px;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 3.6em;
  }
  .dropbtn:hover {
    color: red;
  }
  li a:hover,
  .dropdown:hover  {
    color: #010172;
    font-weight: bold;
  }
  li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c4c4c4;
    min-width: 160px;
    z-index: 1;
    font-size: .9em;
  }
  .dropdown-content a {
    color: #0202ce;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #c4c4c4;
    font-weight: bold;
    font-size: 1.25em;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #hirschro-logo {
    width: 100%;
    height: auto;
    display: block;
    max-width: 160px;
    margin-right: 3.6em;
  }
  .svg-container {
    background: #000;
  }
  svg {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
    padding: 6em 0 0 0;
  }
  svg {
    transform: scale(1);
  } 
  /* /////// */
  .scroll-position {
    display: block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
  }
  #h2-alt {
    margin: 30px 0 0 3.6em;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
    margin-left: 3.9em;
    margin-right: 3em;
  }
  h4 {
    margin-left: 4.5em;
  }
  .sub-header {
    color: #fff;
    padding: 0 0 1em 0;

  }
  #page-title {
    font-size: 3em;
    margin-top: 50px;
  }
  #page-subtitle {
    letter-spacing: .1em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-weight: bold;
  }
  #page-title, #page-subtitle {
    text-align: center;
  }
  #section1-header {
    margin: 1em 0 1em 3em;
    }
  #section-header{
    font-weight: 500;
    color:rgb(47, 47, 47);
    margin: .8em 0 1em 3.6em;
  }
  #section-sub-header {
    margin-left: 6em;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    margin: 0 5.5em 2em 5.5em;
    line-height: 160%;
  }
  blockquote {
    padding: 1em 5em 1em 5em;
    line-height: 150%;
    font-size: .9em;
  }
  a {
    color: #5dade2;
    }
  a:focus {
    color: darkblue;
  }
  a:hover {
    color: red;
  }
  /* ------------ Project Description _____________ */
  
  .divider, .divider2 {
    height: 4px;
    background-color: gray;
    padding: 0;
    margin: 30px 5.6em 0 5.6em;
  }
  .divider2 {
    margin: 0 5.6em 0 5.6em;
  }
  .divider-last {
    height: 4px;
    background-color: rgb(128, 126, 126);
    padding: 0;
    margin: 50px 5em 50px 4.5em;
  }
  .wrapper1 {
    display: flex;
    width: 100%;
    justify-content: center;
    
  }
  /* ------------------- Event listeners -------------------*/
  #container1 {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;;
    margin: 0 auto;
    padding: 0;
    
  }
  .hide1 {
    background-color: purple;
    grid-area: 1/1/2/2;
    
  } 
  .hide2 {
    background-color: yellow;
    grid-area: 1/2/2/3;
  }
  .hide3 {
    background-color: rgb(90, 226, 219);
    grid-area: 1/3/2/4;
    transform: scale(1);
  }
  .hide1, .hide2, .hide3 {
    position: relative;
    max-width: 100%;
    height: auto;
    padding-bottom: 100%;
    border: 2px black solid;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    
  }

  #cm1 {
    grid-area: 2/1/3/2;
  }
  #cm2 {
    grid-area: 2/2/3/3;
  }
  #cm3 {
    grid-area: 2/3/3/4;
  }
  #cm1, #cm2, #cm3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    min-width: 100%;
    min-height: 40px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
  }
  /* ------- Color Paradigm: Random Color Selector ----- */
  #container2 {
    display: grid;
    max-width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    justify-items: center;
  }
  #sqNavbox {
    display: flex;
    grid-area: 1/1/2/2;
    width: 100%;
    padding-bottom: 100%;
  }
  #mousePad {
    display: flex;
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid black;
    color: black;
    grid-area: 1/2/2/3;
  }
  #chip4 {
    display: flex;
    width: 100%;
    padding-bottom: 100%;
    background-color: #0000ff;
    color: white;
    grid-area: 1/3/2/4;
    align-items: center;
    justify-content: center;
  }
  #box1 {
    grid-area: 2/1/3/2;
  }
  #box2 {
    grid-area: 2/2/3/3;
    text-align: center;
  }
  #box2-instruction {
    font-size: .8em;
  }
  #box3 {
    grid-area: 2/3/3/4;
  }
  #box1, #box2, #box3 {
    margin: 0;
    padding: 0;
    height: 20px;
  }
  
   /* --------------- Color Paradigm RGB  ------------------- */
   #topIcon {
     margin: 0 0 0 .3em;

     max-width: 35px;
     height: auto;
   }
   .wrapper3 {
     margin-top: 50px;
   }
   #container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
  }
   #rgb_image {
    grid-area: 1/1/2/2;
    max-width:  100%;
    transform: scale(1);
  }
  #redColorCode {
    grid-area: 2/2/3/3;
    text-align: center; 
  }
  #greenColorCode {
    grid-area: 2/3/3/4;
    text-align: center; 
  }
  #blueColorCode {
    grid-area: 2/4/3/5;
    text-align: center; 
  }
  #chip1, #chip2, #chip3 {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    border: 2px black solid;
    vertical-align: middle; 
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #chip1 {
    background-color: #ff0000;
    color: white;
    grid-area: 1/2/2/3;
  }
  #chip2 {
    background-color:rgb(0, 255, 0);
    color: white;
    grid-area:  1/3/2/4;  
  }
  #chip3 {
    background-color: #0000ff;
    color: white;
    grid-area: 1/4/2/5;
  
  }
  /* ----------------- Section 4 HSB ------------------------------ */
  #container4 {
    display: grid;
    max-width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    margin: 0 auto;
  }
  .wrapper4 {
    margin-top: 50px;
  }
  .wrapper-hsb-img {
    grid-area: 1/1/2/2;
  }
  .wrapper-hex1 {
    grid-area: 1/2/2/3;
  }
  #hex1, #hex2, #hex3 {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }
  .wrapper-hex2 {
    grid-area: 1/3/2/4;
  }
  .wrapper-hex3 {
    grid-area: 1/4/2/5;
  }
  .circle1, .circle2, .circle3 {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
  }
  .circle1 {
    background: rgb(255, 0, 0);
  }
  .circle2 {
    background: hsl(120, 100%, 50%);
  }
  .circle3 {
    background: rgb(0, 0, 255);
  }

  #hsbCodeRed, #hsbCodeGreen, #hsbCodeBlue {
    text-align: center;
  }
  #hsbCodeRed {
    grid-area: 2/2/3/3;
  }
  #hsbCodeGreen {
    grid-area: 2/3/3/4;
  }
  #hsbCodeBlue {
    grid-area: 2/4/3/5;
  }
  /* ----------------- Section 5 HEX ------------------------------ */
  .wrapper5 {
    margin-top: 50px;
  }
  #container5 {
    display: grid;
    max-width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
  }
  #hexCodeRed, #hexCodeGreen, #hexCodeBlue {
    text-align: center;
  }
  #hexCodeRed {
    grid-area: 2/2/3/3;
  }
  #hexCodeGreen {
    grid-area: 2/3/3/4;
  }
  #hexCodeBlue {
    grid-area: 2/4/3/5;
  }
  /* ------------ Section 6 Munsell --------------- */
  
  #container6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    justify-items: center;
  }

  #muns-image1 {
    grid-area: 1/2/2/3;
    margin: 0;
    padding: 0;
  }
  #muns-image2 {
    grid-area: 1/2/2/3;
    margin: 0;
    padding: 0;
  }
  #muns-image1-caption {
    margin-top: 15px;
    text-align: center;
  }

  #muns-image2-caption {
    margin-top: 70px;
    text-align: center;
  }

  #copyright {
    text-align: center;
    margin: 100px 0 25px 0;
    color:rgb(128, 126, 126)
  }
  .wrapper6 {
    width: 95%;
    font-size: 90%;
  }
  @media only screen and (max-width: 768px) {

    .navbar a:first-child {
      margin-left: 2em;
    }
    .navbar a {
      padding: 14px 10px;
    }
    .logo {
      width: 55%;
      height: auto;
    }
    #h2-alt {
      margin: 30px 0 30px 2em;
    }
    .divider {
      margin: 30px 3.5em 0 3em;
    }
    .divider2 {
      margin: 0 3.5em 0 3.5em;
    }
    p {
      margin:  30px 1.5em 0 3em;
    }
    #page-title {
      font-size: 2.5em;
    }
    #page-subtitle {
      font-size: 1em;
    }
    #container1 {
      margin: 1.5em 0 0 0;
    }
    #cm1, #cm2, #cm3 {
      font-size: .8em;
      min-height: 30px;
    }

    #container2 {
      width: 80%;
      margin-top: 1.5em;
    }
    #sqNavbox {
      width: 75%;
      padding-bottom: 75%;
    }
    #mousePad {
      width: 75%;
      /* height: auto; */
    }
    #chip4 {
      width: 75%;
      /* height: auto; */
    }
    #hsbCirc1, #hsbCirc2, #hsbCirc3 {
      width: 75%;
      height: 75%;
    }
    #hsbCodeRed, #hsbCodeGreen, #hsbCodeBlue {
      font-size: .8em;
    }
    #section-header {
      color:rgb(47, 47, 47);
      margin: .8em 0 1em 2em;
    }
    blockquote {
      line-height: 150%;
    }
    #muns-image1 {
      width: 85%;
    }
    #muns-image2 {
      width: 85%;
    }
  }
  @media only screen and (max-width: 481px) {
    .logo {
      width: 65%;
    }
     #h2-alt {
      margin-left: 1em;
      font-size: 1.3em;
    }
    #container1 {
      grid-column-gap: 20px;
    }
    #rgb_image {
      width: 100%;
    }
    #hsb_image {
      width: 100%;
    }
    #section-header {
      font-size: 1.2em;
      margin: 1em;
    }
    #section2-header, #section3-header,
    #section4-header, #section5-header,
    #section6-header
    #h2-alt {
      margin: .7em;
    }
    p {
      margin-left: 1.5em;
      font-size: .9em;
    }

    #chip1, #chip2, #chip3 {
      font-size: .89em;
    }
    .wrapper3 {
      margin: 25px 0 0 0;
    }
    #redColorCode, #greenColorCode, #blueColorCode {
      font-size: .7em
    }
    .divider {
      margin: 1em 1.5em 0 1.5em;
    }
    .divider2 {
      margin: 1em 1.5em 0 1.5em;
    }
    blockquote {
      padding: 1em 1em 1em 1em;
      line-height: 150%;
      font-size: .8em;
      font-weight: bold;
    }
  }
